/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    width: 100%;
}

/* NAV */
nav {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-left: 20px;
}
nav li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* MAIN */
.blocco-scarpe {
    width: 100%;
    height: 100vh;
    position: relative;
}
.shoes-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
}
.shoes-content h2 {
    font-size: 40px;
}

#scarpa-1 {
    background-color: #ff0000;
    color: #ffff00;
}
#scarpa-2 {
    background-color: #008000;
    color: #ffff00;
}
#scarpa-3 {
    background-color: #ffff00;
    color: #008000;
}